openapi: 3.1.0
info:
  title: Google Wallet Event Tickets API
  description: The Google Wallet API enables developers to create and manage digital passes including event tickets, boarding passes, loyalty cards, gift cards, offers, transit passes, and generic passes. It provides REST endpoints for creating pass classes (templates) and pass objects (instances), managing issuers, handling media uploads, and generating JWT tokens for save-to-wallet functionality.
  version: 1.0.0
  contact:
    name: Google Wallet
    url: https://developers.google.com/wallet
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://walletobjects.googleapis.com/walletobjects/v1
  description: Google Wallet API v1 Server
tags:
- name: Event Tickets
  description: Manage event ticket classes and objects
paths:
  /eventTicketClass:
    post:
      operationId: insertEventTicketClass
      summary: Google Wallet Insert Event Ticket Class
      description: Creates a new event ticket class.
      tags:
      - Event Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTicketClass'
      responses:
        '200':
          description: Event ticket class created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTicketClass'
components:
  schemas:
    EventTicketClass:
      type: object
      properties:
        id:
          type: string
        eventName:
          type: object
          properties:
            defaultValue:
              type: object
              properties:
                language:
                  type: string
                value:
                  type: string
        venue:
          type: object
          properties:
            name:
              type: object
            address:
              type: object
        dateTime:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        issuerName:
          type: string
externalDocs:
  description: Google Wallet API Reference
  url: https://developers.google.com/wallet/reference/rest
